---
title: Context Examples
page:
  title: 
  subtitle: Variables can be 
one:
  two:
    three: Success! Variable "three" rendered.
    four: Success! Variable "four" rendered too!
alert:
  strong: Congrats!
  message: The alert worked!
---
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

<p> {{{ one.two.three }}} </p>

{{#one}}
<p> {{{ two.four }}} </p>
{{/one}}

{{> alert }}