---
url: 
  assemble: http://github.com/assemble/
links:
  - index
  - context
  - basic
  - markdown
stylesheets:
  - http://twitter.github.io/bootstrap/assets/css/bootstrap.css
  - http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
  - http://twitter.github.io/bootstrap/assets/css/docs.css
  - http://twitter.github.io/bootstrap/assets/js/google-code-prettify/prettify.css
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{#each stylesheets}}<link rel="stylesheet" href="{{{.}}}">
    {{/each}}
  </head>
  <body>
    {{> nav }}

    <div class="container">
      {{> body }}
    </div>
  </body>
</html>
