<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="{{#isnt title "Home"}}../{{/isnt}}index.html">ASSEMBLE</a>
      <ul class="nav">
        <li{{#is title "Home"}} class="active"{{/is}}>
          <a href="{{#isnt title "Home"}}../{{/isnt}}index.html">Home</a>
        </li>
        <li{{#is title "Docs"}} class="active"{{/is}}>
          <a href="{{#is title "Home"}}dist/{{/is}}docs.html">Docs</a>
        </li>
        <li{{#is title "Examples"}} class="active"{{/is}}>
          <a href="{{#is title "Home"}}dist/{{/is}}examples.html">Examples</a>
        </li>
        <li{{#is title "Markdown"}} class="active"{{/is}}>
          <a href="{{#is title "Home"}}dist/{{/is}}markdown.html">Markdown</a>
        </li>
        <li{{#is title "Blog"}} class="active"{{/is}}>
          <a href="{{#is title "Home"}}dist/{{/is}}blog.html">Blog</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li> <a href="https://github.com/assemble/assemble-examples">More Examples</a> </li>
        <li> <a href="https://github.com/assemble/assemble/">Visit Assemble</a> </li>
      </ul>
    </div>
  </div>
</div>
