<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family={{fonts}}">
  </head>
  <body>
    <!-- nav partial -->
    {{> nav }}

    <div class="container">
      <!-- pages -->
      {{> body }}

      <script src="{{assets}}/highlight.js"></script>
    </div>
  </body>
</html>
