---
repo: http://github.com/assemble/
links:
  - ./
  - ./dest/context
  - ./dest/basic
  - ./dest/markdown
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/bootstrap.css">
  </head>
  <body>
    <!-- nav partial -->
    {{> nav }}

    <div class="container">
      <!-- pages -->
      {{> body }}

      <script src="{{assets}}/prettify.js"></script>
    </div>
  </body>
</html>
