---
repo: http://github.com/assemble/
links: ['./index', 'dest/context', 'dest/basic', 'dest/markdown']
stylesheets: ['bootstrap', 'prettify']
scripts: prettify
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{#each stylesheets}}<link rel="stylesheet" href="{{../assets}}/{{{.}}}.css">
    {{/each}}
  </head>
  <body>
    <!-- nav partial -->
    {{> nav }}

    <div class="container">
      <!-- pages -->
      {{> body }}

      <script src="{{assets}}/prettify.js"></script>
    </div>
  </body>
</html>
